<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
  <link rel="icon" href="static/Cricknow.png" type="image/png">
</head>
<body>
  <div class="blur-bg">
    <div class="container">
      <div class="content">
        <h1>Advanced Scoring Strategies</h1>
        <p1><strong>Goals:</strong> High average, high strike rate, frequent 50s and 100s.<br>
          <strong>Training Modules:</strong><br>
          &emsp;&emsp; <strong>Shot Selection Drills:</strong>Practice choosing the right shots for different deliveries in the nets,Focus on minimizing risk while maximizing runs, emphasizing placement over power.<br>
          &emsp;&emsp; <strong>Situational Batting:</strong>Set up different match scenarios and practice building innings, such as starting slow and accelerating, or managing high-pressure chases.<br>
          &emsp;&emsp; <strong>Rotation of Strike:</strong>Drills that focus on rotating the strike, such as hitting to specific fielding gaps, or practicing quick singles and doubles.<br>
          &emsp;&emsp; <strong>Power Hitting and Placement:</strong>Combine boundary-hitting practice with precise placement to find gaps.Use range-hitting exercises to practice hitting 4s and 6s from different types of deliveries.<br>
        </p1>
      </div>
    </div>
  </div>
</body>
</html>