<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
  <link rel="icon" href="static/Cricknow.png" type="image/png">
</head>
<body>
  <div class="blur-bg">
    <div class="container">
      <div class="content">
        <h1>Consistent Batting Techniques</h1>
        <p1><strong>Goals:</strong> High average, moderate to high number of 4s, low strike rate.<br>
          <strong>Training Modules:</strong><br>
          &emsp;&emsp; <strong>Technical Drills:</strong>Focus on refining batting technique, including footwork, balance, and shot execution. Use throwdowns and bowling machines to practice against specific types of deliveries.<br>
          &emsp;&emsp; <strong>Playing Along the Ground:</strong>Practice playing along the ground to avoid risky aerial shots. Drills to enhance timing and placement, focusing on hitting gaps for 4s.<br>
          &emsp;&emsp; <strong>Patience and Shot Selection:</strong>Simulated long batting sessions to develop patience and shot selection. Emphasize leaving balls outside off-stump and focusing on scoring opportunities.<br>
        </p1>
      </div>
    </div>
  </div>
</body>
</html>