<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
  <link rel="icon" href="static/Cricknow.png" type="image/png">
</head>
<body>
  <div class="blur-bg">
    <div class="container">
      <div class="content">
        <h1>Experience and Control</h1>
        <p1><strong>Goals:</strong> High number of runs and balls faced, high average.<br>
          <strong>Training Modules:</strong><br>
          &emsp;&emsp; <strong>Long Innings Practice:</strong>Simulate long innings in the nets, focusing on concentration and endurance. Practice maintaining focus over extended periods and adjusting to different bowlers.<br>
          &emsp;&emsp; <strong>Reading the Game:</strong>Scenario-based drills to improve decision-making and adaptability. Practice adjusting batting strategy based on match situations, bowlers, and pitch conditions.<br>
          &emsp;&emsp; <strong>Game Simulation:</strong>Participate in match simulations to practice building innings and pacing an innings. Focus on rotating the strike, playing with soft hands, and maintaining a high strike rate.<br>
        </p1>
      </div>
    </div>
  </div>
</body>
</html>