<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
  <link rel="icon" href="static/Cricknow.png" type="image/png">
</head>
<body>
  <div class="blur-bg">
    <div class="container">
      <div class="content">
        <h1>Fundamentals and Basics</h1>
        <p1><strong>Goals:</strong> Low number of 6s, moderate strike rate, and moderate to high number of 4s.<br>
          <strong>Training Modules:</strong><br>
          &emsp;&emsp; <strong>Basic Technique Drills:</strong>Practice the fundamentals of batting, including stance, grip, and footwork. Regular throwdowns and net sessions focusing on basic shot execution.<br>
          &emsp;&emsp; <strong>Running Between Wickets:</strong>Drills to improve running between wickets, focusing on quick singles and converting ones into twos. Practice calling and coordination with the batting partner.<br>
          &emsp;&emsp; <strong>Field Placement Awareness:</strong>Practice placing shots into gaps and understanding field placements. Drills to enhance awareness of fielders and finding gaps for boundaries.<br>
        </p1>
      </div>
    </div>
  </div>
</body>
</html>