<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
  <link rel="icon" href="static/Cricknow.png" type="image/png">
</head>
<body>
  <div class="blur-bg">
    <div class="container">
      <div class="content">
        <h1>Power Hitting Skills</h1>
        <p1><strong>Goals:</strong> High number of 6s and high strike rate.<br>
          <strong>Training Modules:</strong><br>
          &emsp;&emsp; <strong>Boundary Hitting Drills:</strong>Practice hitting 6s against both spin and pace in the nets.Focus on power-hitting techniques, like body position and swing mechanics.<br>
          &emsp;&emsp; <strong>Strength and Conditioning:</strong>Weight training and core exercises to build strength and power.Plyometric exercises to enhance explosive power.<br>
          &emsp;&emsp; <strong>Range Hitting:</strong>Use a range with targets set at different distances to practice hitting consistently long shots.Work on hitting with controlled power to avoid unnecessary risks.<br>
        </p1>
      </div>
    </div>
  </div>
</body>
</html>